extends layout

block content
    .p-3.mb-4(style="max-width: 1000px; width: 100%; margin: 0 auto;")
        .d-flex.justify-content-between.align-items-center.flex-wrap

            h2.text-dark.mb-0 Ride Requests

            form.d-flex(method="GET" action="/rides")
                input.form-control.me-2.custom_search(
                    style="width: 300px;" 
                    type="search" 
                    name="search" 
                    placeholder="Search by Driver or Destination" 
                    value=(search || '') 
                )
    hr
    .container(style="max-width: 1000px; width: 100%;")

        .row
            each ride in data
                .col-6.col-md-4.col-lg-3.mb-4 
                    .card.shadow-sm.bg-white.rounded.w-100.h-100

                        if ride.ride_pics
                            img.card-img-top(
                                src=ride.ride_pics, 
                                alt=ride.short_name, 
                                class="img-fluid", 
                                style="object-fit: cover; height: 140px; width: 100%;"
                            )
                        else
                            div.card-img-top.d-flex.align-items-center.justify-content-center.bg-light(
                                style="height: 140px; width: 100%;"
                            )
                                i.bi.bi-image.display-1.text-secondary

                        .card-body.p-2
                            h5.mb-1 
                                a.text-primary.text-decoration-none.text_center(href=`/rides/${ride.ride_id}`) #{ride.short_name}

                            p.mb-1.text-muted.small
                                strong 🚖 Driver:  
                                | #{ride.driver_name}

                            p.text-muted.small.mb-0
                                strong 🏠 Origin address:  
                                | #{ride.origin_address}

                            p.text-muted.small.mb-0
                                strong 🗺️ Destination address:  
                                | #{ride.destination_address}

                            p.text-muted.small.mb-0
                                strong 📅 Departure Date:  
                                | #{new Date(ride.departure_date).toISOString().split('T')[0]}

                            p.text-muted.small.mb-0
                                strong ⌚ Departure Time:  
                                | #{ride.departure_time}

    if !data.length
        p.text-center No rides found.
