extends layout

block content
    h1 #{heading}

    each user in data
        div
            h2 #{user.user_name}
            p Email: #{user.email}
            p Phone: #{user.phone_number}
            p Address: #{user.address}
            p Role: #{user.role}
            if user.profile_pic
                img(src=user.profile_pic, alt="Profile Picture", width="150")

    if !data.length
        p No users found.
